.contact-body{
 display: grid;
 grid-template-rows: 150px 100px 1fr 1fr;
 align-self: center;
 justify-content: center;

}

#contact-message {
	height: 100px;

}

.nav-buttons:hover {
  cursor: pointer; ;
}

.contact-body > h1 {
  align-self: end;
}

#contact-button {
    background: rgba(234, 234, 234, 0.7);
    color: #2f2f2f;
    margin: 10px;
    padding: 10px;
    border-radius: 2px;
    width: 8rem;
    text-align: center;
}

#contact-button:hover {
  cursor: pointer;
}

#contact-form {
	margin-top: 3rem;
}

.form-row {
  margin-bottom: 30px;
  margin-top: 10px;
  padding: 4px 0;
  position: relative; 
}

.input-text {
  border: none;
  margin-bottom: 8px;
	height:30px;
	width:300px;
	background: #2f2f2f;
	color: #cfcfcf;
	padding-left: 10px;
	border-bottom: 1px solid #cfcfcf;
	font: 1.2em Helvetica, arial, sans-serif;
	outline-width: 0;
	z-index: 3;
}

.input-text:focus::-webkit-input-placeholder  {color:transparent;}
.input-text:focus::-moz-placeholder   {color:transparent;}
.input-text:-moz-placeholder   {color:transparent;}


.label-helper {
  position: absolute;
  opacity: 0;
  transition: .3s bottom, .3s opacity;
  bottom: 0;
  left: 0;
  z-index: 1; 
}

.input-text:focus + .label-helper, .input-text:invalid + .label-helper {
  bottom: 95%;
  font-family: arial;
  font-size: 14px;
  line-height: 1;
  opacity: 1;
  padding: 4px; 
  background: #2f2f2f;
}

.input-text:invalid + .label-helper::after {
    color: #f00;
    content: "X";
    font-family: arial;
    font-size: 14px;
    line-height: 1;
    padding-left: 12px; 
    background: #2f2f2f;
}

