@media (max-width: 499px) { 

.header {
  box-shadow: 0 1px 1px #5a5a5a;
  display:grid;
  background-color: #575757;
   grid-template-areas: "name "
                        "icons"
                        "navbar-buttons";
                    
}

#name {
  display:none;
  grid-area: name;
}

#contact-icons {
  display:none;
  grid-area: icons;
  align-self: center;
  justify-self: center;
}

.navbar-buttons {
  display:grid;
  grid-area: navbar-buttons;
  grid-gap: 2px;
/*  align-self: center;
  justify-self: auto;*/
 grid-template-columns: 33% 33% 33%;

}

.nav-buttons {
  background: rgba(234, 234, 234, 0.7);
  padding:2px;
  font-size: 12px;
  border-radius: 2px;
  color: #FFFFFF;
  text-align: center;
  letter-spacing: 3px;
  margin:10px;
}


.banner > h2{  
  display: none;
}

.about {
  grid-area: about;
  display:grid;
  grid-template-columns: auto;
  color:#FFFFFF ;
  margin-top: 84px;
}

.portfolio-header {
  padding-top:20px;
}

.main-head {
   background-image: none;
   height: 25vh;
   grid-template-columns: 100%;
 }

 .banner{
  background: none;
  text-align: center;
  color: #2f2f2f;
  background:rgba(255,255,255, 0.4);
}

#get-in-touch {
  padding-top: 40px;
}


}