body {
  background-color: #2f2f2f;
}

.nav-buttons:hover {
  border-radius: 2px;
  color: white;
  box-shadow: 1px 1px 1px #2f2f2f;
  border: 0.4px solid #2f2f2f;
  z-index: 100000;
}

.nav-buttons {
  box-shadow: 1px 1px 1px #5a5a5a;
  border: 0.4px solid #cfcfcf;
}

#contact-icons:hover{
  cursor:pointer;
}

#contact-icons {
  text-align: right;
}

.fa {
  color: #cfcfcf;
}





* {box-sizing: border-box;}

    .wrapper {
        font-family: 'Quicksand', sans-serif;
        min-height:80%;
        letter-spacing: 8px
    }

    .wrapper > * {
        background-color: #2f2f2f;       
    }

    nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }


.header {
  position: fixed;
  top: 0;
  width: 100%;
  margin-left: -8px;
}


.main-head {
  display:grid;
  grid-area: main-head;
  color: #cfcfcf;
  grid-template-columns: 100%;
  text-align: center;
  background-image: url("../moon.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: center;
  flex-direction: column;
  display: flex;
}

.banner{
  background: none;
  margin-top: 10%;
  text-align: center;
  color: #2f2f2f;
  background:rgba(255,255,255, 0.4);
}

.about {
  grid-area: about;
  display:grid;
  grid-template-columns: 30% 70%;
  color:#cfcfcf ;
  align-self: center;
  justify-self: center;
  flex-direction: column;
  flex-direction: column;
  margin-bottom: 100px;
  padding-top: 100px
}
.portfolio-header {
   display:grid;
   grid-gap: 20px;
   grid-area: portfolio-header;
   grid-template-columns: 100%;
   margin: 40px;
   text-align: center;
   color:#cfcfcf ;
      padding-top: 100px;
}

.portfolio {
   display:grid;
   grid-gap: 20px;
   grid-area: portfolio;
   grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

}



.portfolio-item {

  grid-template-rows: 200px 100px 100px 30px ;
  display: grid;
  color:#cfcfcf ;
  align-self: center;
  justify-self: center;
  background: grey;
  color: #cfcfcf;
  text-align: center;
  padding: 10px;
  min-height: 450px;
}

.content {
  grid-area: content;
  color: #cfcfcf;
}

.main-footer {
  grid-area: footer;
  font-size: 10px;
  color: #cfcfcf;
}

.main-nav:hover {
	cursor: pointer;
}

a {
   text-decoration:none;
    color: #cfcfcf;
}

.front {
  align-self: center !important;
  justify-self: center !important;
}

.link-button {
    background: rgba(234, 234, 234, 0.7);
    padding: 10px;
    font-size: 12px;
    border-radius: 2px;
    color: #2f2f2f;
    text-align: center;
    letter-spacing: 3px;
    margin: 10px;
    box-shadow: 1px 1px 1px #5a5a5a;
    border: 0.4px solid #cfcfcf;
}
